.head{
    font-family:  Francois One;
    font-size: 80px;
    color: black;
    margin-left: 20px;
  
    text-align: center;
    justify-content: center;
}

.thumbnail img {
    height:250px;
    width:100%;
}
.title{
    font-family: Stencil Std,Calibri;
    font-size: 25px;
    color: black;
    text-align: left;
    justify-content: flex-start;
}
#banner_image{
   
   background: url('https://i.pinimg.com/originals/be/5e/90/be5e90367626a22599eb02a132ece75f.jpg')  no-repeat center center;
   /*width: 100%;
  background-image: url('..\img\5.jpg');*/
   background-repeat: no-repeat;
    height:180%;
    /*background-color: #F5CBA7;
    text-align: center;*/
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}